<div class="flex items-center justify-center">
  <div class="text-center max-w-md p-2 mx-auto bg-accent highlight-background rounded-md">
    <p class="text-white mb-6">
      Download the M.A.R.S. Driver companion app today and become part of the transportation network of the future.
    </p>

    <div class="flex justify-center gap-4">
      <a href="https://apps.apple.com/ro/app/m-a-r-s-driver/id6717610898">
        <img
          src="/images/mobile-app/download-m.a.r.s.-app-app-store-ios.svg"
          alt="Download on the App Store"
          class="h-12"
        />
      </a>
      <a href="https://play.google.com/store/apps/details?id=ai.marsdriver.app">
        <img
          src="/images/mobile-app/download-m.a.r.s.-app-google-play-android.png"
          alt="Get it on Google Play"
          class="h-12"
        />
      </a>
    </div>
  </div>
</div>
