---
import { SITE } from 'mars:config';
---

<span
  class="flex items-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl lg:text-xl font-bold whitespace-nowrap text-white dark:text-white"
>
  <img src={'/images/logo.png'} alt="Logo of Management Application For Route Strategy" class="w-5 h-5 mb-1.5" />
  <span class="site-name-mobile">
    {SITE?.name}
  </span>
</span>

<style is:inline>
  .dark .site-name-mobile {
    color: white;
    opacity: 100%;
  }
  @media (max-width: 1024px) {
    .site-name-mobile {
      color: var(--aw-color-accent);
      opacity: 70%;
    }
  }
</style>
